<h1>{{title}}</h1><br>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Titre Notes">
  </div>
  <div class="form-group">
    <label>Content</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label>Date</label><br>
    <div class="btn-group">
      <button type="button" class="btn btn-default">22</button>
      <button type="button" class="btn btn-default dropdown-toggle"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default">04</button>
      <button type="button" class="btn btn-default dropdown-toggle"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default">2017</button>
      <button type="button" class="btn btn-default dropdown-toggle"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
    </div>
    <input class="dropdown" type="time">
  </div>
  <div class="form-group">
    <label>Category</label>
    <select class="form-control">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <button type="submit" class="btn btn-default">Sauvegarder</button>
</form>
