<div class="container">
  <h1>{{title}}</h1><br>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="#">Note</a></li>
        <li><a href="#">Ajouter Note</a></li>
        <li><a href="#">Categories</a></li>
        <li><a href="#" (click) ="addcategogires()">Ajouter Categorie</a></li>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>
  <div class="panel panel-default">
    <div class="panel-heading"><b>Scampi fait maison</b> <br>Cuisine</div>
    <div class="panel-body">
      <p class="text-justify"></p><br>
      <a href="" class="btn btn-primary glyphicon glyphicon-edit"></a>
      <a href="" class="btn btn-primary glyphicon glyphicon-remove"></a>
    </div>
  </div>
</div>
